<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Gift Giving Made Easy">
  <title>Gift Factor</title>

  <%= tag :meta, name: "facebook-key", content: ENV['FACEBOOK_KEY'] %>
  <%= tag :meta, property: "og:type", content: "website" %>
  <%= tag :meta, property: "og:title", content: "Gift Factor" %>
  <%= tag :meta, property: "og:description", content: "Gift Giving Made Easy.
WHO ONLY WANTS A \"JUST OK\" GIFT?
Your loved ones deserve to get a gift they've been dreaming of! What is it exactly? Glad you asked. There is a way to know for sure. All you need is a Damn Smart Machine Learning Algorithm." %>
  <%= tag :meta, property: "og:image", content: image_url('fb_logo.jpg') %>

</head>

<body id="<%= content_for :body_id %>">

<%= yield %>

</body>

</html>
